/*main stuff*/

body {
    margin: 0;
    background-color: rgb(245,242,238);
}

.overall-destination {
    display: flex; 
} 

/*second section*/

.second-section {
    background-image: url(/img/world.jpeg);
    background-size: contain; 
    width: 100%;
    animation: 1s flyIn ease-out;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 2;
        transform: translateY(0px);
    }
}

/* Header section */

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.header-icon { 
    width: 50px;
    height: 50px;
}

.h1-heading {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    font-family: 'Special Elite', cursive;
    color: rgb(170, 163, 157);
}



/* Buttons for selecting the continents */

.select-continents {
    display: flex; 
    justify-content: center; 
    margin-top: 45px;
}

.continent-btn {
    width: 150px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border: none; 
    border-radius: 5%;
    opacity: 0.9;
    transition: all 225ms ease-in-out;
    cursor: pointer; 
}

.continent-btn:hover {
    font-weight: bold; 
    transform: scale(1.1);
}


/* Continent Containers */

.continent-containers {
    margin-top: 50px;
    margin-left: 140px;
}

.container-div {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 50px;
    box-shadow:rgb(240,232,228) 0px 1px 4px;
    box-shadow: 6px 6px 6px 5px rgb(0 0 0 / 20%);
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 55px;  
}

.h3-headings {
    margin-left: 22px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif !important;
}

.continent-post {
    height: 200px;
    width: 800px;
    border-color: rgb(170, 163, 157);
    border-width: 2px;
    border-style: solid;
}


  