/** Main Section */

body {
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}

.main-section {
    display: flex; 
}


/** FAQ Section */

.faq-section {
    animation: 1s flyIn ease-out;
    background-image: url(/img/world.jpeg);
    background-size: contain; 
    width: 100%;
    display: flex; 
    align-items: center; 
    flex-direction: column; 
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 2;
        transform: translateY(0px);
    }
}

.headline {
    font-size: 30px; 
    font-weight: bold; 
    margin-top: 15px; 
    margin-bottom: 20px; 
    font-family: 'Special Elite', cursive;
    color: rgb(170, 163, 157);
}

.question-answer-section {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border: 2px;
    box-shadow: 6px 6px 6px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway', sans-serif;
    opacity: 0.9;
    width: 115vh;
    height: 60vh;
    background-color: white;
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: lighter;
    font-size: 12;
}

.question {
    margin-bottom: 5px; 
    font-weight: bold; 
    margin-right: 20px;
    margin-left: 20px; 
}

.answer {
    text-align: justify; 
    padding-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px; 
}

.video {
    width: 900px;
    margin-left: 20px; 
    margin-top: 5px; 
}

.pic-faq {
    width: 70px;
    height: 70px;
    margin-top: 30px;
    justify-content: center; 
}