/** Main Section */

body {
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}

.main-section {
    display: flex; 
}

/** Post Section */

.post-section {
    animation: 1s flyIn ease-out;
    width: 100%;
    background-position: center; 
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    background-image: url(img/background1.jpg);
    background-size: cover; 
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 2;
        transform: translateY(0px);
    }
}

.img-question {
    width: 70px;
    height: 70px;
    margin-top: 50px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.img-question:hover {
    transform: scale(1.2);
}

.text-question {
    font-size: 15px; 
    font-weight: bold; 
    margin-bottom: 10px; 
}

.myPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    border: 2px;
    box-shadow: 6px 6px 6px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway', sans-serif;
    opacity: 0.9;
    width: 115vh;
    height: 70vh;
    text-align: center;
    background-color: white;
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: lighter;
    font-size: 12;
}


/** Overlay Section*/

.modal-container {
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0;
    left: 0;
}

.modal-background {
    background-color: black;
    opacity: 0.5;
    transition: opacity 1s;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

.modal-content {
    background-color: white;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 750px;
    min-height: 550px;
    padding: 10px;
    border-radius: 10px;
    z-index: 11;
}

.hidden {
    display: none; 
    opacity: 0 !important;
}

.buttons-overlay {
    display: flex; 
}


/** Input Question Section */

.button-close-overlay {
    display: flex;
    width: 20px;
    height: 40px;
    margin-top: -10px;
    transition: all ease-in-out 225ms;
    cursor: pointer;
}

.buttons-overlay {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
}

.text-overlay {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 8px; 
    font-weight: bold; 
}

.input-section {
    display: flex; 
    flex-direction: column;  
    align-items: center; 
    margin-top: 40px;
}

.input {
    width: 300px; 
    height: 30px; 
    padding: 8px; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    font-family: 'Montserrat', sans-serif;
}

.input-destination {
    width: 320px; 
    height: 50px; 
    padding: 8px; 
    margin-bottom: 10px; 
    margin-top: 10px; 
}

.input-question {
    width: 300px; 
    height: 70px; 
    padding: 8px; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

/** Post Question Section */

.button-delete-post {
    display: flex;
    width: 20px;
    height: 40px;
    margin-top: -10px;
    transition: all ease-in-out 225ms;
    cursor: pointer;
}

.button-delete-post:hover {
    transform: scale(1.5);
}

.post {
    width: 650px;
    height: 200px;
    border: 1px solid lightgray;
    padding: 8px;
    margin-bottom: 30px;
    background-color: rgb(190,224,217);
    overflow-y: auto;
}

.profilpic {
    width: 50px;
    height: 50px;
}

.destination {
    font-family: 'Special Elite', cursive;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.destination-txt {
    display: flex;
    margin-left: 230px;
}

.date {
    display: flex;
    font-size: 10px;
    font-family: 'Montserrat';
    margin-left: 230px;
}

.title {
    display: flex;
}

.question {
    display: flex;
}