/*navigationbar classes*/

.d-none {
    display: none;
}

.mobilemenu {
    display: none;
}

.menu-pic-area {
    display: none; 
}

.h1 {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: rgb(228,208,184);
    height: 100vh;
    padding: 10px;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.logo {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 70px;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
}

.navigation-bar a {
    text-decoration: none;
    color: black;
    transition: all 225ms ease-in-out;
}

.navigation-bar a:hover {
    color: white;
    transform: scale(1.1);
}


/*Mobilmenu*/
.overallmenu {
    display: none;
}

.menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all ease-in-out 225ms;
}

.menu:hover {
    transform: scale(1.1);
}

.menu-btn {
    display: flex;
    justify-content: center;
    background-color: rgb(228,208,184);
    padding: 7px;
}

.responsive-menu {
    display: flex;
    flex-direction: column;
    line-height: 3;
    padding: 30px;
}

.responsive-menu a {
    color: black;
    text-decoration: none;
    transition: all ease-in-out 225ms;
}

.responsive-menu a:hover {
    color: white;
    transform: scale(1.1);
}

.close-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all ease-in-out 225ms;
}

.close-button:hover {
    transform: scale(1.2);
}

.btn-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .navigation {
        display: none; 
    }

    .overallmenu {
        display: flex;
        flex-direction: column;
        background-color: rgb(228,208,184);
        height: 100%;
    }
}

@media (max-width: 560px) {
    .menu {
        height: 30px;
        width: 30px;
    }

    .responsive-menu {
        font-size: 13px;
        padding: 15px;
    }

    .h1 {
        font-size: 16px;
    }
}

@media (max-width: 515px) {
    .responsive-menu {
        font-size: 11px;
        padding: 10px;
    }

    .h1 {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .menu {
        height: 25px;
        width: 25px;
    }

    .responsive-menu {
        font-size: 9px;
        padding: 7px;
        margin-top: 20px;
    }
}

@media (max-width: 280px) {
    .menu {
        height: 20px;
        width: 20px;
    }
}