/*navigationbar classes*/

.mobilemenu {
    display: none;
}

.menu-pic-area {
    display: none; 
}

.h1 {
    font-family: 'Special Elite', cursive;
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: rgb(228,208,184);
    height: 100vh;
    padding: 10px;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.logo {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
}

.navigation-bar a {
    text-decoration: none;
    color: black;
    transition: all 225ms ease-in-out;
}

.navigation-bar a:hover {
    color: white;
    transform: scale(1.1);
}

.profil-pic {
    width: 50px;
    height: 50px;
    display: flex;
    margin-top: 40px;
}

.pic-div {
    display: flex;
    justify-content: center;
}

.logout-btn {
    display: flex;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 236, 230);
    cursor: pointer;
}

.btn-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.loginlink {
    text-decoration: none;
    color: rgb(146,137,131);
    cursor: pointer;
    transition: all ease-in-out 225ms;
}

.loginlink:hover{
    color: rgb(255,184,136);
    font-weight: bolder;
    font-size: 25px;
}

@media (max-width: 1000px) {
    .navigation {
        display: none; 
    }

    .show-mobilemenu {
        width: 100px;
        border-right: 1px solid white; 
    }

    .menu-pic {
        width: 40px;
        height: 40px;
    }
}