/*main stuff*/

body {
    margin: 0;
}

.main-section {
    display: flex;
}


/*question-section*/

.question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/world.jpeg);
    width: 100%;
    background-position: center;
    background-size: contain;
    padding: 20px;
    animation: 1s flyIn ease-out;
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 2;
        transform: translateY(0px);
    }
}

.header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionmark {
    width: 40px;
    height: 40px;
    justify-content: center;
}

.header {
    font-family: 'Special Elite', cursive;
    justify-content: center;
    color: rgb(170, 163, 157);
}

.question-area {
    border: 2px;
    box-shadow: 6px 6px 6px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
    opacity: 0.9;
    width: 115vh;
    height: 77vh;
    text-align: center;
    background-color: white;
    overflow-y: auto;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.row-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}