/*main stuff*/
body {
    margin: 0;
}

.main-section {
    display: flex;
}

/*second section*/
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/world.jpeg);
    background-position: center;
    background-size: contain;
    width: 100%;
    padding: 20px;
    animation: 1s flyIn ease-out;
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 2;
        transform: translateY(0px);
    }
}

.header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-family: 'Special Elite', cursive;
    justify-content: center;
    color: rgb(170, 163, 157);
}

.profil-pic-page {
    width: 40px;
    height: 40px;
}

/*new profil*/

.profilForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    border: 2px;
    box-shadow: 6px 6px 6px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway', sans-serif;
    opacity: 0.9;
    width: 115vh;
    height: 60vh;
    text-align: center;
    background-color: white;
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: lighter;
    font-size: 12;
}

.profilpic {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.upload {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.input[type="file"] {
    display: none;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40px;
    width: 250px;
    background-color: rgb(170, 163, 157);
    cursor: pointer;
    transition: all ease-in-out 225ms;
}

.label:hover {
    color: black;
    transform: scale(0.9);
}

.firstrow {
    display: flex;
    margin-top: 20px;
}

.secondrow {
    display: flex;
}

.user-div {
    margin-right: 30px;
}

.familyname-div {
    margin-right: 30px;
}

.username {
    font-family: 'Montserrat', sans-serif;
}

.prename {
    font-family: 'Montserrat', sans-serif;
}

.familyname {
    font-family: 'Montserrat', sans-serif;
}

.email {
    font-family: 'Montserrat', sans-serif;
}

.profil-btn {
    background-color: rgb(170, 163, 157);
    margin-top: 50px;
    padding: 15px;
    border: none;
    border-radius: 50%;
    transition: all 225ms ease-in-out;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.profil-btn:hover {
    background-color: rgb(220,218,216);
    transform: scale(1.1);
    font-weight: bold;
}

/*profil*/
.profil-maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    border: 2px;
    box-shadow: 6px 6px 6px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway', sans-serif;
    opacity: 0.9;
    width: 115vh;
    height: 60vh;
    text-align: center;
    background-color: white;
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: lighter;
    font-size: 12;
}

.profil-img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}