<div class="navigation">
        <div class="logo-section">
            <img src="icons/logo.svg" class="logo">
            <h1 class="h1">Travelblog</h1>
        </div>

        <div class="navigation-bar">
            <a href="main.html">Home</a>
            <a href="destinations.html">Destinations</a>
            <a href="profil.html">Profil</a>
            <a href="myquestions.html">My Questions</a>
            <a href="faq.html">FAQ</a>
            <a href="impressum.html">Impressum</a>
            <a href="datenschutz.html">Datenschutz</a>
            <a href="login.html"><b>Login</b></a>
            
        </div>

        <div class="pic-div">
            <img src="icons/profilpic.svg" class="profil-pic" id="user-pic">
        </div>

        <div class="btn-div">
            <button class="logout-btn" onclick="logout()">Logout</button>
        </div>
</div>
