<div class="overallmenu">
    <div class="logo-section">
        <img src="icons/logo.svg" class="logo">
        <h1 class="h1">Travelblog</h1>
    </div>

    <div class="menu-btn">
        <img onclick="showMenu()" class="menu" src="icons/mobilemenu.svg">
    </div>

    <div id="menu" class="d-none">
        <a href="main.html">Home</a>
        <a href="destinations.html">Destinations</a>
        <a href="faq.html">FAQ</a>
        <a href="impressum.html">Impressum</a>
        <a href="datenschutz.html">Datenschutz</a>

        <div class="btn-div">
            <img src="icons/X.svg" onclick="closeMenu()" class="close-button">
        </div>
    </div>
</div>